/* =============== MiseMaru Theme: Customer =============== */
:root{
  --bg-color: #231816;
  --text-color: #efefef;
  --modal-text-color: #231816;
  --full-screen-bg: #231816;
  --frame-bg: #231816;
  --btn-text-color: #231816;
  --btn-hover-bg: #333333;
}