/* =============== MiseMaru Theme: Admin =============== */
:root{
  --bg-color: #a3d5f0;
  --text-color: #333333;
  --modal-text-color: #231816;
  --full-screen-bg: #a3d5f0;
  --frame-bg: #e3f4fd;
  --btn-text-color: #ffffff;
  --btn-hover-bg: #ffffff;
}